@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

html,
body {
  height: 100%;
  min-height: 100%;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.switch_icons input {
  opacity: 0;
  width: 0;
  height: 0;
}
.car-3d-model {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* toggle night mode on off */
.nightMode_On__Off {
  position: absolute;
  cursor: pointer;
  /* top: 20px;
    right: 25px; */
  font-size: 150%;
}

.nightMode_On__Off:before {
  content: url("vectors/moon.svg");
}

.nightMode_On__Off.active:before {
  content: url("vectors/sun.svg");
}

/* toggle night mode on off */
.play_On__Off {
  position: absolute;
  cursor: pointer;
  /* top: 20px;
    right: 25px; */
  font-size: 150%;
}

.play_On__Off:before {
  content: url("vectors/playButton.svg");
}

.play_On__Off.active:before {
  content: url("vectors/pauseButton.svg");
}

.loadingtext {
  font-family: monospace;
  font-size: 24px;
  clip-path: inset(0 3ch 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
